In [1]:
import pandas as pd

In [2]:
games_df = pd.read_csv('./data/aus_fb/games.csv')
players_df = pd.read_csv('./data/aus_fb/players.csv')
stats_df = pd.read_csv('./data/aus_fb/stats.csv')

In [5]:
# describe
games_df.describe()

,Year,MaxTemp,MinTemp,Rainfall,HomeTeamScoreQT,HomeTeamScoreHT,HomeTeamScore3QT,HomeTeamScoreFT,HomeTeamScore,AwayTeamScoreQT,AwayTeamScoreHT,AwayTeamScore3QT,AwayTeamScoreFT,AwayTeamScore
count,2663.000000,2656.000000,2656.000000,2640.000000,2663.000000,2663.000000,2663.000000,2663.000000,2663.000000,2663.000000,2663.000000,2663.000000,2663.000000,2663.000000
mean,2018.004506,19.159563,9.786069,2.115492,3.442508,6.753372,9.946354,12.995554,87.341720,3.122569,6.224296,9.263590,12.144461,81.100638
std,3.779912,5.034669,4.524560,6.319302,1.782171,2.692167,3.530947,4.338707,27.063891,1.720840,2.564564,3.379207,4.146537,26.087576
min,2012.000000,8.700000,-5.400000,0.000000,0.000000,0.120000,1.110000,2.100000,16.000000,0.000000,0.100000,1.100000,1.800000,14.000000
25%,2015.000000,15.100000,6.800000,0.000000,2.200000,4.750000,7.500000,10.100000,68.000000,2.100000,4.400000,6.700000,9.130000,63.000000
50%,2018.000000,18.450000,9.400000,0.000000,3.300000,6.600000,9.700000,12.700000,85.000000,3.100000,6.100000,8.900000,11.800000,79.000000
75%,2021.000000,22.700000,12.700000,1.450000,4.400000,8.500000,12.160000,16.100000,105.000000,4.250000,7.800000,11.550000,14.800000,97.000000
max,2024.000000,37.600000,25.000000,114.400000,10.400000,18.600000,25.140000,31.190000,205.000000,11.400000,16.700000,22.100000,29.130000,187.000000